.statisticsPage {
  width: 100%;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
  padding-bottom: 64px;

  .statTitle {
    color: #333;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 0%;
    margin-top: 100px;
    margin-bottom: 24px;
    text-align: center;
  }

  .stat {
    text-align: center;
    background: #fad47b;
    padding: 16px;
    border-radius: 16px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 15%;

    .ant-statistic-title {
      text-align: center;
      margin: auto;
      font-size: 16px;
      margin-bottom: 7px;
      color: #5d0e3b;
    }
  }
}
