@import 'src/styles/variables';

.filter {
  &-pagination {
    .ant-select {
      height: 34px !important;
      &-selection {
        &-item {
          font-size: 12px !important;
        }
        &-search {
          &-input {
            font-size: 12px !important;
          }
        }
      }
      &-item {
        min-height: 32px;
        font-size: 12px;
        padding: 8px 10px;
        height: 32px;
      }
    }
  }
}
